/* 
CSS guidelines

BEM (Block, Element, Modifier) naming convention is utilised loosely

Style order
- IMPORTS
- VARIABLES
- RESETS
- GENERICS HELPER CLASSES
- CONTENT GRID
- NAV
- SECTIONS
- CUSTOM CONTENT BLOCKS
- THIRD PARTY STYLES
*/

/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* VARIABLES */
:root {
  --color-background: white;
  --color-text: hsl(0, 0%, 20%);

  --color-light: hsl(0, 0%, 90%);
  --color-dark: hsl(0, 0%, 10%);
  --color-medium-dark: hsl(0, 0%, 20%);

  --color-overlay: hsla(0, 0%, 25%, 0.75);

  --color-primary: hsl(206, 86%, 26%);
  --color-primary-opague: hsla(206, 86%, 26%, 0.8);
  --color-secondary: hsl(206, 75%, 42%);

  /* Font sizes */
  --fs-regular: 1.125rem;
  --fs-medium: 1.5rem;
  --fs-large: 2rem;
  --fs-extra-large: 3rem;

  /* Invert filter */
  --invert-filter: 0;

  /* Padding */
  --content-padding-inline: 2rem;

  /* Swiper */
  --swiper-theme-color: var(--color-secondary);
  --swiper-pagination-bottom: 1rem;
}

/* RESETS */
html {
  color-scheme: light dark;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif, system-ui;
  font-weight: 300;
  font-size: var(--fs-regular);
  line-height: 1.5;
  box-sizing: border-box;
  background-color: var(--color-background);
}

h1,
h2 {
  line-height: 1.2;
  letter-spacing: -0.0125em;
  max-width: 30ch;
  margin-block: 0;
}

h1 {
  font-size: var(--fs-large);
  font-weight: 200;
}

h2 {
  font-weight: 400;
  font-size: var(--fs-medium);
  margin-block-start: 0;
  margin-block-end: 0.25em;
}

h3 {
  font-weight: 400;
  font-size: var(--fs-regular);
}

p {
  font-weight: inherit;
  line-height: inherit;
  margin-block-start: 0;
  max-width: 60ch;
}

ul {
  list-style-type: none; /* Remove default bullets */
  padding: 0;
  margin: 0;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  text-decoration: none;
}

a.underline,
a.underline:visited {
  text-decoration: underline;
}

label {
  font-weight: 400;
}

input,
textarea {
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem;
  color: var(--color-text);
  background-color: var(--color-background);
  font: inherit;
}

input:focus,
textarea:focus {
  outline-color: var(--color-primary);
}

textarea {
  resize: vertical;
  min-height: 6rem;
}

button {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--color-background);
  font: inherit;
  cursor: pointer;
}

img,
svg,
video {
  max-width: 100%;
  display: block;
  object-fit: contain;
}

/* GENERICS HELPER CLASSES */
.grid {
  display: grid;
}

.center-inline {
  justify-self: center;
  text-align: center;
  margin-inline: auto;
}

.center-vertically {
  align-self: center;
}

a.button,
a.button:hover,
a.button:focus,
a.button:visited,
a.button:active {
  text-decoration: none;
  text-align: center;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  color: var(--color-background);
  font: inherit;
  cursor: pointer;
  text-shadow: none;
}

a.button.icon {
  border-radius: 0.5rem;
  padding: 0.25rem 1rem;
  color: var(--color-background);
}

.strong {
  font-weight: 600;
}

.text-shadow {
  text-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 1);
}

.circle {
  clip-path: circle(at center);
}

/* Margin helpers */
.margin-block-start {
  margin-block-start: 4rem;
}

.margin-block-end {
  margin-block-end: 4rem;
}

.section__margin-block-start {
  margin-block-start: 6rem;
}

.section__margin-block-end {
  margin-block-end: 6rem;
}

.divider-end::after {
  content: "";
  margin-inline: auto;
  margin-block-start: 1.25rem;
  display: block;
  width: 2rem;
  height: 0.125rem;
  background-color: var(--section-color-text);
  opacity: 0.5;
  border-radius: 1rem;
}

.signature {
  opacity: 0.75;
  font-style: italic;
}

.invert-in-dark-mode {
  filter: invert(var(--invert-filter));
}

img.make-white,
.make-white img {
  filter: brightness(0) invert(1);
}

/* Snap scroll on mobile */
html,
body {
  scroll-snap-type: y mandatory;
}

.snap-to-top {
  scroll-snap-align: start;
}

.snap-to-center {
  scroll-snap-align: center;
}

@media (min-width: 480px) {
  html,
  body {
    scroll-snap-type: unset;
  }

  .text-shadow--desktop {
    text-shadow: 0px 0.5rem 2rem rgba(0, 0, 0, 1);
  }
}

/* Colors */
.highlight {
  color: var(--color-primary);
}

/* Google Material icons */
.material-symbols-rounded {
  font-size: calc(1em * 1.5);
  line-height: inherit;
}

p .material-symbols-rounded {
  position: relative;
  font-size: inherit;
  top: 0.2rem;
}

/* Styles for mobile devices */
@media only screen and (max-width: 480px) {
  .mobile {
    display: default;
  }
  .desktop {
    display: none;
  }
}
/* Styles for desktop devices */
@media only screen and (min-width: 480px) {
  .mobile {
    display: none;
  }
  .desktop {
    display: default;
  }
}

/* CONTENT GRID */
.content-grid {
  --content-max-width: 900px;
  overflow-x: clip; /* required to prevent overflow of .section__grid--hero-background */
  position: relative; /* required to prevent overflow of .section__grid--hero-background */
  display: grid;
  grid-template-columns:
    [full-width-start]
    minmax(var(--content-padding-inline), 1fr)
    [content-start]
    min(100% - (var(--content-padding-inline) * 2), var(--content-max-width))
    [content-end]
    minmax(var(--content-padding-inline), 1fr)
    [full-width-end];
}

.content-grid > :not(.full-width),
.full-width > :not(.full-width) {
  grid-column: content;
}

.content-grid > .full-width {
  grid-column: full-width;
  display: grid;
  grid-template-columns: inherit;
}

.content-grid--nav {
  --height: 4rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: var(--height);
  margin-block-end: calc(var(--height) / -1);
}

/* NAV */
nav img {
  height: 2rem; /* Ensures the image takes the full height of the cell */
}

/* SECTIONS */
section {
  --section-background-color: var(--color-background);
  --section-color-text: var(--color-text);
  color: var(--section-color-text);
  background: var(--section-background-color);
  min-height: 100svh;
}

section.full-width {
  background: var(--section-background-color);
}

section.bg-primary {
  --section-background-color: var(--color-primary);
  --section-color-text: var(--color-background);
}

section.bg-secondary {
  --section-background-color: var(--color-secondary);
  --section-color-text: var(--color-background);
  --swiper-theme-color: var(--color-background);
}

section.bg-light {
  --section-background-color: var(--color-light);
  --section-color-text: var(--color-text);
}

section.bg-medium-dark {
  --section-background-color: var(--color-medium-dark);
  --section-color-text: var(--color-background);
}

section.bg-dark {
  --section-background-color: var(--color-dark);
  --section-color-text: var(--color-background);
}

section.fullscreen {
  min-height: 100dvh;
}

section.nav {
  background-color: var(--color-primary-opague);
  min-height: auto;
}

@media (min-width: 480px) {
  section {
    min-height: auto;
  }

  section:not(.fullscreen) {
    min-height: auto;
  }
}

/* Section grids */
.section__grid {
  display: grid;
  gap: 2rem;
}

.section__grid--2-cols {
  grid-auto-rows: max-content;
}

.section__grid--full-width {
  grid-column: full-width;
}

.section__grid--round > * {
  overflow: hidden;
  border-radius: 1rem;
}

.section__grid--nav {
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.section__grid--hero {
  position: relative;
  gap: 0;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr auto auto;
  grid-template-areas:
    "heading"
    "rotating-text"
    "p"
    "span";
}

.section__grid--hero * {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.section__grid--hero .heading {
  grid-area: heading;
  align-self: end;
  margin-block-end: 0.1rem;
}

.section__grid--hero .rotating-text {
  grid-area: rotating-text;
  margin-block-end: 0;
}

.section__grid--hero span.more {
  grid-area: span;
  font-size: var(--fs-extra-large);
  align-self: end;
  opacity: 50%;
}

@media (min-width: 480px) {
  .section__grid--2-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .section__grid--3-cols {
    grid-template-columns: repeat(3, 1fr);
  }

  .section__grid--4-cols {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* CUSTOM CONTENT BLOCKS */

/* Nav - Animation */
nav {
  -webkit-backdrop-filter: blur(0.125rem);
  backdrop-filter: blur(0.125rem);
  opacity: 0;
  animation: fade-in linear forwards;
  animation-timeline: scroll();
  animation-range: 0vh 90vh;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

/* Hero section - Background images */
.section__grid--hero-background {
  display: none;
}
@media (min-width: 480px) {
  .section__grid--hero-background {
    display: block;
    grid-column: full-width;
    grid-row: 1 / -1;
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    opacity: 0;
    animation-name: fade;
    animation-duration: 5s;
    animation-delay: 10s;
    animation-fill-mode: forwards;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

/* Hero section - Rotating text */
.rotating-text {
  opacity: 0;
}
.rotating-text:nth-of-type(2) {
  animation: rotate-text-up 1.5s 0.75s;
}

.rotating-text:nth-of-type(3) {
  animation: rotate-text-up 1.5s 2s;
}

.rotating-text:nth-of-type(4) {
  animation: rotate-text-up 1.5s 3.25s;
}

.rotating-text:nth-of-type(5) {
  animation: rotate-text-up 1.5s 4.5s;
}

.rotating-text:nth-of-type(6) {
  animation: fade-text-in 1.5s 5.75s forwards;
}

@keyframes rotate-text-up {
  0% {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
  }

  20%,
  80% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, -40px, 0);
    opacity: 0;
  }
}

@keyframes fade-text-in {
  0% {
    opacity: 0;
    transform: translate3d(0, 80px, 0);
  }

  50%,
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Form group */
.form-group {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-rows: min-content auto;
  grid-template-areas:
    "label"
    "input";
  gap: 0.5rem;
}

.form-group:focus-within span {
  color: var(--color-primary);
}

.form-group label {
  grid-area: label;
}

.form-group input,
.form-group textarea,
.form-group button,
.form-group span {
  grid-area: input;
}

.form-group input,
.form-group textarea {
  padding-inline-start: 2.75rem;
}

.form-group span {
  margin-block-start: 0.3rem;
  margin-inline-start: 0.75rem;
  width: fit-content;
  pointer-events: none;
  color: grey;
}

.form-group--full-width {
  grid-column: 1/-1;
}

/* Icon list */
ul.icon-list {
  --bullet-size: 2rem;
  list-style-type: none; /* Remove default bullets */
}

ul.icon-list > li {
  position: relative; /* Allows positioning of the span */
  padding-left: calc(var(--bullet-size) * 1.5);
}

ul.icon-list li span.bullet {
  position: absolute;
  left: 0;
  font-size: var(--bullet-size);
  line-height: 1;
}

ul.icon-list li span.bullet--heading {
  top: -0.125rem;
}

/* Inline list */
.inline-list {
  list-style: none; /* Remove default bullet points */
}

.inline-list li {
  display: inline-block;
  margin-inline: 0.5rem;
}

.inline-list li::after {
  content: "\007C"; /* Hide the bullet of the first list item */
  position: relative;
  left: 0.5rem;
}

.inline-list li:last-child::after {
  content: ""; /* Hide the bullet of the first list item */
}

/* Toggle group */
.toggle-group {
  background-size: cover;
  display: grid;
  grid-template-rows: auto auto 1fr;
  width: 100%;
  cursor: default;
}

.toggle-group--neuro {
  background-image: url(../img/neuro.jpg);
}

.toggle-group--orthopaedic {
  background-image: url(../img/orthopaedic.jpg);
}

.toggle-group--geriatric {
  background-image: url(../img/geriatric.jpg);
}

.toggle-group--mva {
  background-image: url(../img/mva.jpg);
}

.toggle-group ul {
  display: block;
  margin-block: 0;
  padding-block: 2rem;
  list-style: none;
  padding-inline: 0;
  transition: all 0.5s ease;
}

.toggle-group h3,
.toggle-group span {
  background-color: var(--color-overlay);
  margin-block: 0;
  padding-block-start: 1rem;
}

.toggle-group span {
  padding: 0;
}

.toggle-group--target {
  opacity: 0;
  margin-block: 0;
  padding-block-end: 1rem;
  background-color: var(--color-overlay);
}

.toggle-group:hover .toggle-group--target,
.toggle-group:active .toggle-group--target,
.toggle-group:focus-within .toggle-group--target {
  opacity: 1;
}

/* THIRD PARTY STYLES */
/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper--bio,
.swiper--social,
.swiper--memberships {
  --mask-width: var(--content-padding-inline);
  margin-inline: calc(var(--mask-width) / -1);
  padding-inline: var(--mask-width);
  -webkit-mask: linear-gradient(
    90deg,
    transparent calc(var(--mask-width) / 2),
    white var(--mask-width),
    white calc(100% - var(--mask-width)),
    transparent calc(100% - var(--mask-width) / 2)
  );
  mask: linear-gradient(
    90deg,
    transparent calc(var(--mask-width) / 2),
    white var(--mask-width),
    white calc(100% - var(--mask-width)),
    transparent calc(100% - var(--mask-width) / 2)
  );
}

.swiper--memberships .swiper-wrapper {
  transition-timing-function: linear;
}

.swiper--memberships .swiper-slide {
  width: 50vw;
}

@media (min-width: 480px) {
  .swiper--memberships .swiper-slide {
    width: 25vw;
  }
}

.swiper--bio .swiper-slide {
  display: grid;
  align-content: center;
}
